div, body {
    margin: 0; padding: 0; border: 0;
    font-family: 'Open Sans', sans-serif;
}
section {
    display: block;
}
section h1 {
    margin: 0;
}
.mdl-layout__header {
    background-color: #37474f;
}
.mdl-layout__drawer-button {
    color: #fff;
}
.mdl-mega-footer a {
    color: #CCCCCC;
}
.mdl-mega-footer a:hover {
    color: #2196F3;
}
header .mdl-navigation a {
    font-size: 2em;
    margin-bottom: 4px;
    border-bottom: solid;
    border-bottom-width: 4px;
    border-bottom-color: #37474f;
}
header .mdl-navigation a:hover {
    border-bottom-color: #fff;
}
.mdl-mega-footer__bottom-section > .mdl-mega-footer__left-section {
    font-size: 0.75em;
}
.light {
    background-color: #fff;
    color: black;
}
.medium {
    background-color: #fba827;
    color: #37474f;
}
.dark {
    background-color: #37474f;
    color: #CCCCCC;
}
.me {
    width: 256px;
    height: 256px;
    border-radius: 128px;
}
.vno-padding--1 {
    padding-top: 1em;
    padding-bottom: 1em;
}
.vno-padding--2 {
    padding-top: 2em;
    padding-bottom: 2em;
}
.vno-padding--3 {
    padding-top: 3em;
    padding-bottom: 3em;
}
.vno-padding--4 {
    padding-top: 4em;
    padding-bottom: 4em;
}
.vno-padding--5 {
    padding-top: 5em;
    padding-bottom: 5em;
}