#sokoban {
    background: url("../sokoban.png") center / cover;
}
#vesteinno {
    background: url("../vesteinno.png") top / cover;
}
.mdl-card__media {
    height: 256px;
}
.von-card {
    width: 100%;
}
.von-grid {
    max-width: 1280px;
}