* {
	overflow: hidden;
}
div, body {
	margin: 0; padding: 0; border: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: -webkit-linear-gradient(180deg, #1F7A99, #1A6680);
    background: -moz-linear-gradient(180deg, #1F7A99, #1A6680);
    background: linear-gradient(180deg, #1F7A99, #1A6680);
	background-color: #1F7A99;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
}
nav {
	position: absolute;
	width: auto;
	left: 5%;
    top: 5%;
	font-size: 1.5em;
	color: #E6E6E6;
	text-align: left;
}
nav a:first-child {
    font-size: 1.5em;
    margin-bottom: 1em;
}
nav a, nav a:visited {
	color: #CCCCCC;
	text-decoration: none;
    display: block;
}
nav a:hover {
	color: #f6f4f2;
}
footer {
	width: auto;
	position: absolute;
	bottom: 10%; right: 10%;
	color: #cfcdcb;
	font-weight: 300;
	font-size: 32px;
	font-style: italic;
	text-align: right;
	text-shadow: 1px 1px #1b1a19;
}
a#back {
    display: block;
    text-align: right;
}
section {
    position: absolute;
    left: 20%;
    top: 15%;
    width: 800px;
    background-color: white;
}
@media (orientation: portrait) {
	#frog {
		height: 20%;
	}
	#menu {
		top: 5%;
		left: 0; right: 0;
		text-align: center;
		font-size: 30px;
	}
}
